body {
  font-weight: 500;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: #1a1a1a;
  margin: 0;
  background-color: #ff96e5;
  display: flex;
}

#canvas-container {
  display: table-cell;
  margin: 0;
  padding: 5px;
}

#panel-container {
  padding: 5px 5px 5px 0px;
  display: table-cell;
  width: 100%;
}
#panel {
  margin: 0;
  height: calc(100% - 30px);
  border: 5px dashed #8eabff;
  padding: 10px;
  background: #96e5ff;
}

#narrow {
  width: 200px;
  background: lightblue;
}

h1 {
  text-align: center;
  margin: 10px 10px 0 10px;
  color: #585858;
  font-variant: small-caps;
  font-size: xx-large;
}
h2{
  text-align: center;
  margin: 10px 10px 0 10px;
  color: #585858;
  font-variant: small-caps;
  font-size: xx-large;
}
.desc{
  text-align: center;
  width:100%;
  border-collapse: collapse;
}
.desc th{
  text-align: center;
  margin: 10px 10px 0 10px;
  color: #585858;
  font-variant: small-caps;
  font-size: x-large;
  width: 25%;
}
.desc td{
  padding:5px;
  color: #303030;
  font-size: large;
}
.desc table, .desc th, .desc td{
  border: 1px solid black;
}

.controls{
  width:100%;
}

.controls td{
  padding-top:20px;
  padding-bottom: 20px;
  font-size: x-large;
  text-align: center;
  width:25%;
}